.wrapper {
  box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
  transition: margin-top 0.5s;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding-top: 1px;

  .header {
    display: flex;
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNggIIdhcz/sWEGdDCqkD4KASWkghVatoKdAAAAAElFTkSuQmCC) repeat; */
  }

  .menu {
    margin-left: 1rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    & .item {
      // font-size: 18px;
      font-family: $heading-font;
      font-weight: 600;
      font-size: #{$base-font-size + ($base-font-size*.24) + '%'};
      padding: $micro-space*3 $micro-space*5;
      background-color: $link-bg;
      color: $link-color;
    }
    & .active {
      background-color: $active-bg;
      color: $active-color;
    }
  }
}

/* TOP NAVIGATION */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  background-color: $link-bg;
  padding-right: $space;
  .icon {
    display: none;
  }
  a {
    float: right;
    display: block;
    padding: $space;
    color: $link-color;
    background-color: $link-bg;
    text-align: center;
    outline: 0;
    &:hover {
      color: $link-color;
      background-color: $link-bg;
    }
  }
}

  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4em;
    margin-left: 20em;
    background-color: $white;
    color: $brand;
    border: 0;
  }



  .section-brand {
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $white;
    .picture{
        margin: #{ $space * 4 };
        flex: 1 1 20%;
        border-radius: #{ $space * 2 };
        border: $space solid $brand;
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
    .col {
      flex: 1 1 20%;
      margin: #{ $space * 4 };
      &__title {
        margin: 0 0  #{ $space * 2 } 0;
        padding: $space;
        background-color: $compliment;
      }
      &__para{
        font-size: #{$base-font-size + ($base-font-size* .20) + '%'};
        font-weight: bolder;
        align-self: center;
        text-align: justify;
        padding: #{ $space * 2 };
        color: $link-color;
        background-color: $compliment;
        flex-shrink: 1;
        }
    }
  }



.footer {
  margin-top: auto;
  padding: $space;
  background-color: $link-color;
  color: $white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .col {
    flex: 1 1 auto;
    padding: $space 0 0 $space;
    text-align: center;
    &__menu{
      text-align: center;
    }
    .social {
      margin-top: #{-2 * $space};
      padding-bottom: $space;
    }
  }
  .copyright {
    text-align: center;
    vertical-align: middle;
  }
  .thread {
    background: url(../img/thread_end.jpg);
  }

}
